:root {
  --white: #D6FFF6;
  --image: url('./Images/minimal-wallpaper.jpg');
  --blackopacity : #2375abc1;
  --cclc : none;
  --purpel :rgb(93, 0, 93);
  --hover : rgba(93, 0, 93, 0.486);
}

  .Lien{
    color: var(--white);
  }

  .LOGIN,label{
    text-shadow: 0px 0px 3px black;
  }
  
  #Autentification, body {
    background:var(--image);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    width: 100vw;
    height: 100vh;
    overflow:auto;
    overflow-x:hidden;
  }

  #Formulaire{
    background: transparent;
    backdrop-filter: blur(40px);
    color: var(--purpel);
    box-shadow: 0px 0px 5px 0px black; 
    min-width: 400px;
    margin: 4px;
    border-radius: 3px;
    border: 1px solid var(--white);
  }
  
  #Autentification input,
  #Autentification select,
  .Bakground input,
  .Bakground textarea {
    width: 100%;
    background: var(--cclc);
    border: none;
    border-bottom: 2px var(--white) solid;
    color: var(--white);

  }

  .Bakground textarea{
    border-top: 2px var(--white) solid;
    border-radius: 5px ;
  }
  
  #Autentification input:focus-visible,
  #Autentification select:focus-visible,
  .Bakground input,
  .Bakground textarea {
    outline: none;
  }
  
  #Autentification select:focus-visible {
    color: black;
  }
  
  #Autentification button,
  .Disconnect button,
  .Search button,
  .ChoisBtn button,
  .Message button,
  .AddPub button,
  .Message1 button{
    width: 200px;
    border: 1px solid var(--white);
    background: none;
    color: var(--white);
    border-radius: 40px;
    transition: 0.2s;
  }
  
  #Autentification button:hover,
  .Disconnect button:hover,
  .Search button:hover,
  .ChoisBtn button:hover,
  .Message button:hover,
  .LikePost button:hover,
  .AddPub button:hover,
  .Message1 button:hover {
    background: var(--hover);
    color :var(--white);
    border: 1px solid var(--white);
  }

  .Login{
    color:var(--white);
    text-decoration: none;
  }
  
  .formAutentification{
    animation: .15s linear 0s 3 normal both ;
  }

  @keyframes formAutentification {
    0%{transform: translate(0,0);}
    25%{transform: translate(15px,15px);}
    50%{transform: translate(0,0);}
    75%{transform: translate(-15px,-15px);}
    100%{transform: translate(0px,0px);}
  }


  .NavBar{
    z-index: 2;
    position: fixed;
    top:0;
    backdrop-filter: blur(5px);
    background:#000000a8;
    height :100vh;
    box-shadow: 0px 0px 1px 0px var(--white);
    width :250px;
    transition: left .5s;
    min-height: 300px;
  }

  .NavBar ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 100%;
  }

  .NavBar ul li {
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top:2px ;
    margin-bottom:2px ;
    transition: .2s;
    border-radius: 10px;
    border: 1px solid none;
  }

  .NavBar ul li:hover{
    background: var(--hover);
    transition: .2s;
    cursor: pointer;
    border: 1px solid var(--white);
  }

  
  .NavBar ul li a{
    text-decoration: none;
    color :var(--white);
  }

  hr{
    border: 1px solid var(--white);
  }

  .Disconnect{
    position: absolute;
    bottom: 0;
    left:0;
  }
  .ClosOpenBarNav{
    position: absolute;
    top:2px;
    right: -40px;
    border: none;
    background: none;
    color: var(--white);
    font-size:30px;
    font-weight: bold;
    text-shadow: 0px 0px 4px black;
  }

  .Search{
    z-index: 1;
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
  }
  .Search input,.Message input,.Message1 input{
    border-radius: 500px;
    background: rgba(0, 0, 0, 0.316);
    border: 1px solid var(--white);
    font-size: 20px;
    width :30%;
    min-width: 230px;
    max-width: 450px;
  }

  .Message1{
    z-index: 1;
    position: fixed;
    bottom: 5vh;
    width: 100%;
  }

  .Search input:focus,.Message input:focus,.Message1 input:focus{
    outline: none;
    background: var(--black);
  }

  .Message button,.Message1 button{
    width:70px;
    height: 35px;
  }

  .Bakground{
    position: fixed;
    top:0;
    left: 0;
    z-index: 5;
    width: 100vw;
    height: 100vh;
    background-color:#000000a8;
    align-items: center;
    justify-content: center;
  }

  .Bakground div{
    background: var(--image);
    background-size: cover; /* This ensures the background image covers the entire viewport */
    background-attachment: fixed;
    background-position: center;
    height: 200px;
    border-radius: 10px;
    box-shadow: 0px 0px 1px 0px var(--white);
  }

  .Bakground div{
    width: 400px;
  }

  .ChoisBtn button{
    width: auto;
    font-size: 25px;
  }

.Bakground div h3{
  text-shadow:0px 0px 4px var(--black) ;
}

.Profile div{
  width: 100%;
}

.TITRE{
  color: var(--purpel);
}


.Contact,.Post{
  border: 1px solid var(--white);
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.299);
}

.Contact{
  height: 130px;
}

.Like{
  background: none;
  border: none;
  border: 1px solid var(--white);
  border-radius: 30px;
}

.AddPub{
  position: fixed;
  right: 20px;
  top:20px;
}

.Bakground .FormAddPost{
  width: 500px;
  height: auto;
  max-height:60vh;
}

.removePost{
  background-color: rgba(0, 0, 0, 0);
  border: none;
  color: var(--white);
  font-weight: bold;
  font-size: 35px;
  position: relative;
  bottom: -5px;
  right: 10px;
}

.chate{
  height :85vh;
  overflow: auto;
  box-shadow: 0px 0px 5px 0px black;
  border-radius: 5px;
}


::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--purpel);
  border-radius: 5px;
}

.yourMessage {
  text-align: right;
  height: 50px;
}

.yourMessage div,.hisMessage div{
  border: 1px solid var(--white);
  display: inline;
  max-width: 400px;
  border-radius: 40px;
  color: var(--white);
  z-index: 1;
  font-size: 17px;
  margin: 40px;
  background-color: var(--purpel);
}
td{
  height: 50px;
}

.likes{
  cursor: pointer;
}

.N_likes{
  position: relative;
  width: 100%;
  text-align: center;
}

.N_likes ul{
  list-style-type: none;
  padding-left: 4px;
  color: white;
  border-top: 1px solid white;
  box-shadow: inset 0px 2px 5px 0px black;
  padding: 10px;
  overflow: auto;
  height: 100px;
}

.N_likes ul li {
  padding: 2px;
}

.N_likes ul li:hover {
  background-color: var(--purpel);
  cursor: default;
}

.removePostP{
  width: 100%;
  height: 0;
  margin:-10px 0px;
  display: flex;
  justify-content: right;
}

.removePostP button{
  width: 30px;
}


.Like{
  animation: .5s linear 0s 2 normal;
}

@keyframes Like {
  0%{
    transform:  scale(1);
  }
  50%{
    transform:  scale(1.5);
  }
  100%{
    transform:  scale(1);
  }
}

.Bakground{
  animation: .2s linear 0s 1 normal both;
  display: none;
}

@keyframes Bakground {
  0%{
    display: none;
    transform:  scale(0);
  }
  100%{
    transform:  scale(1);
  }
}

@keyframes Bakgroundre {
  0%{
    transform:  scale(1);
  }
  100%{
    transform:  scale(0);
    display: none;
  }
}
